<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VeGlobs{% endblock %}</title>

    <style>

    body{
        margin:0;
        font-family:Arial;
        background:#f4f6f8;
    }

    nav{
        background:#111827;
        padding:15px;
    }

    nav a{
        color:white;
        margin-right:20px;
        text-decoration:none;
        font-weight:bold;
    }

    nav a:hover{
        text-decoration:underline;
    }

    .container{
        padding:30px;
    }

    </style>

</head>

<body>

<nav>
    <a href="/">Accueil</a>
    <a href="/velib">Vélib</a>
    <a href="/transport">Transport</a>
    <a href="/journey">Trajets</a>
    <a href="/news">News</a>
    <a href="/stats">Stats</a>
</nav>

<div class="container">
{% block body %}{% endblock %}
</div>

</body>
</html>